<div class="container pt-1 pb-5 blogs">
  <% if @articles.present? %>
    <% @articles.each do |article| %>
      <h4 class="mt-4"><%= link_to article.name, public_blog_path(article), class: "title-article" %></h4>
      <p class="written-by pb-1"><%= article.user.first_name %> <%= article.user.last_name %></p>
      <p><%= truncate(strip_tags(article.description.to_s), length: 300) %></p>
      <p class="written-at pt-1"><%= article.created_at.strftime("%d %b %Y") %></p>
      <div class="pt-1">
        <a href="#" class="mr-1 badge badge-info">Edit Article</a>
        <a href="#" class="ml-1 badge badge-danger">Delete Article</a>
      </div>
    <% end %>
  <% else %>
    <h5 class="text-center py-5">You don't have any articles</h5>
  <% end %>
</div>